.user-input-container{
    position: relative;
    background-color: darkgrey;
    width: 80%;
    height: 80%;
    border-radius: 1em;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "input send";
    align-items: center;
    border: solid 0.1em black;
}

#input-text{
    position: absolute;
    bottom: 20%;
    left: 0%;
    background-color: darkgray;
    padding-left: 5%;
    padding-right: 5%;
    grid-area: input;
    width: 100%;
    height: auto;
    justify-self: center;
    outline: none;
    border-style: none;
    resize: none;
    border-radius: 1em;
}

#send{
    grid-area: send;
    font-size: 200%;
    justify-self: center;
    color: blueviolet;
}