@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --poppins-font: 'Poppins', sans-serif;
  --permanent-font: 'Permanent Marker', cursive;
  --clear-gray: #282c34;
  --black: rgb(0, 0, 0); 
  --bege: rgb(245, 245, 220);
}

body {
  font-family: var(--poppins-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bege);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
